{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ book.name }}</h2>
            </div>
            <div class="col-md-2">
                <img class="coverImage" src="{{ (asset(book.coverImage.path))}}">
            </div>

            <div class="col-md-10">
                <article>
                    <p>
                        ISBN: {{ book.isbn }}
                    </p
                    ><p>
                        Year of publishing: {{ book.year }}
                    </p>
                    <p>
                        {{ book.description }}
                    </p>
                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() %}
                            <a class="btn btn-success" href="{{ path('book_edit', {'id' : book.id}) }}">Edit &raquo;</a>
                            <a class="btn btn-danger" href="{{ path('book_delete', {'id' : book.id}) }}">Delete &raquo;</a>
                            {% endif %}
                            <a class="btn btn-default" href="{{ path('index') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

