{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('book_delete', {id: book.id}) }}" method="Post">
                <fieldset>
                    <legend>Delete Book</legend>

{#                    <div class="form-group">#}
{#                        <label class="col-sm-4 control-label" for="book_name">Title</label>#}
{#                        <div class="col-sm-4 ">#}
{#                            <input type="text" class="form-control" id="book_name"#}
{#                                   name="book[name]" value="{{ book.name }}" disabled>#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="form-group">#}
{#                        <label class="col-sm-4 control-label" for="book_isbn">ISBN</label>#}
{#                        <div class="col-sm-4">#}
{#                            <input class="form-control" id="book_isbn"#}
{#                                   name="book[isbn]" value="{{ book.isbn }}">#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="form-group">#}
{#                        <label class="col-sm-4 control-label" for="book_year">Year</label>#}
{#                        <div class="col-sm-4">#}
{#                            <input class="form-control" id="book_year"#}
{#                                   name="book[year]" value="{{ book.year }}">#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="form-group">#}
{#                        <label class="col-sm-4 control-label" for="book_description">Desctription</label>#}
{#                        <div class="col-sm-6">#}
{#                        <textarea class="form-control" rows="6" id="book_description"#}
{#                                  name="book[description]" disabled>{{ book.description }}</textarea>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-group">

                        <div class="col-sm-6">
                            Аre you sure you want to delete {{ book.name }}?
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('book_view', {id: book.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

